# Database Configuration
DB_HOSTNAME=db
DB_USERNAME=postgres
DB_PASSWORD=password

# Redis Configuration
REDIS_URL_SIDEKIQ_CC=redis://redis:6379/1

# CurrencyAPI.com Configuration
CURRENCY_API_KEY=

# Rails Configuration
RAILS_ENV=development
RAILS_SERVE_STATIC_FILES=true 