---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?apikey=<CURRENCY_API_KEY>&currencies=XXX,BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '10'
    body:
      encoding: UTF-8
      string: '{"message":"Validation error","errors":{"currencies":["The selected
        currencies is invalid."]},"info":"For more information, see documentation:
        https:\/\/currencyapi.com\/docs\/status-codes#_422"}'
  recorded_at: Thu, 19 Jun 2025 23:59:17 GMT
recorded_with: VCR 6.3.1
