---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?apikey=<CURRENCY_API_KEY>&base_currency=EUR&currencies=USD,BRL,JPY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '13.93'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '259'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"last_updated_at":"2025-06-19T23:59:59Z"},"data":{"BRL":{"code":"BRL","value":6.3296080807},"JPY":{"code":"JPY","value":167.1453004194},"USD":{"code":"USD","value":1.1509862478}}}'
  recorded_at: Fri, 20 Jun 2025 17:58:55 GMT
recorded_with: VCR 6.3.1
